.html, body{
	margin: 0;
	padding: 0;
}

@keyframes myAnim{
	0%{
 	margin-top:0;
	margin-left:0;
	}
	25%{
	margin-top:200px;
	margin-left:0;
	}
	50%{
	margin-top:200px;
	margin-left:200px;
	}
	75%{
	margin-top:0; 
	margin-left:200px;
	}
	100%{
	margin-top:0;
	margin-left:0;
	}
}
.moveToRight{
	width: 200px;
	height: 200px;
	margin:0;
	border-radius:100%; 
	background-color: violet;
	transition: all 10s ease;
	animation:myAnim 1.5s 3;
}
